<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEMBER PAGE</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <main class="container">
      <div class="header__box">
        <h1 class="heading__primary">歡迎光臨，這是會員頁</h1>
      </div>
      <div class="member__box">
        <h2 class="heading__secondary">{{name}}，歡迎登入系統</h2>
        <a href="/signout" class="btn btn__signout">登出系統</a>
      </div>
      <div class="comment__box">
        <h2 class="heading__secondary">快來留言吧</h2>
        <form action="/createMessage" id="form__comment-message" method="POST">
          <label for="user__new_message" class="labels">
            內容
            <input
              type="text"
              name="user__new_message"
              id="user__new_message"
            />
          </label>
          <button class="btn btn__comment-new-message">送出</button>
        </form>
      </div>
      <div class="user-comments__box">
        <ul class="user-comments__list">
          {% for (user, content) in comments %}
          <li class="user-comments__content">
            <span class="user-comments__user">{{user}} :</span>
            <span>{{content}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
