<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Successful page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='result-page.css') }}"
    />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="result-box">
          <div class="header">
            <h1 class="heading__primary">歡迎光臨，這是會員頁</h1>
          </div>
          <div class="content">
            <h2 class="heading__secondary">恭喜您，成功登入系統</h2>
            <a href="/signout" class="btn btn__siginout">登出系統</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
